name: Rust

on:
  push:
    branches: [ master, auto ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Version Info
      run: rustc --version; cargo --version; rustup --version
    - name: Install Dependencies
      run: |
        rustup component add clippy rustfmt
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
